@model MasterProject.Models.Inquiry

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Inquiry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="InquiryId" />
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Response" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApplicationUserId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResponseBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResponseBy" class="form-control" />
                <span asp-validation-for="ResponseBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
